* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border() {
    border: 1px solid #eaeaea;
}

html {
    background-color: rgb(69, 119, 64);
}

li {
    list-style: none;
}

input,
button {
    all: unset;
    padding: 10px;
}

input[type=text] {
    background-color: white;
    @include border();
}

.centered-container {
    width: 50vw;
    height: 70vh;
    margin: 5% auto;
    background-color: #ffffff;
    .head {
        height: 10%; // flex: 2;
        @include flex-center();
        justify-content: space-between;
        width: 100%;
        background-color: #1c9346;
        padding: 15px;
        h1 {
            color: white;
        }
    }
    .main-content {
        // flex: 8;
        height: 87%;
        padding: 15px;
        margin: 10px;
        @include border();
        .add-items-form-container {
            @include flex-center();
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 30px;
            width: 70%;
            height: 20%;
            .add-items-fields {
                @include flex-center();
                justify-content: flex-start;
                #submit {
                    background-color: #343942;
                    width: 80px;
                    text-align: center;
                    color: white;
                    margin-left: 10px;
                    @include border();
                    cursor: pointer;
                }
                #add-item:hover {
                    opacity: 0.9;
                }
            }
        }
        .item-list-container {
            width: 100%;
            height: 80%;
            padding: 10px;
            overflow: scroll;
            @include border();
            ul {
                li {
                    h3 {
                        margin: 0 auto
                    }
                }
            }
            li {
                @include flex-center();
                justify-content: space-between;
                padding: 10px;
                @include border();
                button {
                    background-color: red;
                    color: white;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}