* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  background-color: #457740;
}

li {
  list-style: none;
}

input,
button {
  all: unset;
  padding: 10px;
}

input[type=text] {
  background-color: white;
  border: 1px solid #eaeaea;
}

.centered-container {
  width: 50vw;
  height: 70vh;
  margin: 5% auto;
  background-color: #ffffff;
}

.centered-container .head {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #1c9346;
  padding: 15px;
}

.centered-container .head h1 {
  color: white;
}

.centered-container .main-content {
  height: 87%;
  padding: 15px;
  margin: 10px;
  border: 1px solid #eaeaea;
}

.centered-container .main-content .add-items-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 30px;
  width: 70%;
  height: 20%;
}

.centered-container .main-content .add-items-form-container .add-items-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.centered-container .main-content .add-items-form-container .add-items-fields #submit {
  background-color: #343942;
  width: 80px;
  text-align: center;
  color: white;
  margin-left: 10px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.centered-container .main-content .add-items-form-container .add-items-fields #add-item:hover {
  opacity: 0.9;
}

.centered-container .main-content .item-list-container {
  width: 100%;
  height: 80%;
  padding: 10px;
  overflow: scroll;
  border: 1px solid #eaeaea;
}

.centered-container .main-content .item-list-container ul li h3 {
  margin: 0 auto;
}

.centered-container .main-content .item-list-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border: 1px solid #eaeaea;
}

.centered-container .main-content .item-list-container li button {
  background-color: red;
  color: white;
  padding: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */